@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">acb</li>
    </ol>
</nav>

<div class="product">
    <div class="product-name">
        <h5>
            [New 100%] Dell Inspiron 14 5430 (Core i5-1340P, 16GB, 512GB, Iris Xe Graphics, 14" FHD+)
        </h5>
    </div>
    <div class="product-info">
        <div class="info-img">
            <img src="https://laptopaz.vn/media/product/2757_laptopaz_5430_chinh.png" />
        </div>
        <div class="info">
            <h3>Deal: 15.990.000</h3>
            <b>Bảo hành: </b>
            <span>12 tháng</span>
            <br />
            <b>Tình trạng: </b>
            <span>còn hàng</span>
            <br />
            <div class="product-link">
                <a href="#"><span>Xem chi tiết cấu hình</span></a>
            </div>
            <div class="config" style="padding-bottom: 10px;">
                <p style="margin-bottom: 5px;"><strong>CẤU HÌNH:</strong></p>
                <ul class="list-config" style="padding: 0;list-style: none;">


                    <li>
                        <span class="checkbox-option checked"></span>
                        <a href="">
                            <span>Core i5-13420H, 8GB, 512GB, RTX 3050 6GB, 15.6 FHD 144Hz</span>
                            <p>17.990.000đ</p>
                        </a>
                    </li>

                    <li>
                        <span class="checkbox-option "></span>
                        <span class="checkbox-option "></span>
                        <a href="/new-100-laptop-gaming-hp-victus-15-fa0033dx-core-i5-12450h-8gb-512gb-rtx-3050-4gb-15.6quot-fhd-144hz.html">
                            <span>Core i5-12450H, 8GB, 512GB, RTX 3050 4GB, 15.6 FHD 144Hz</span>
                            <p>16.990.000đ</p>
                        </a>
                    </li>
                    <li>
                        <span class="checkbox-option "></span>
                        <span class="checkbox-option "></span>
                        <a href="/new-100-laptop-gaming-hp-victus-15-fa0033dx-core-i5-12450h-8gb-512gb-rtx-3050-4gb-15.6quot-fhd-144hz.html">
                            <span>Core i5-12450H, 8GB, 512GB, RTX 3050 4GB, 15.6 FHD 144Hz</span>
                            <p>16.990.000đ</p>
                        </a>
                    </li>
                    <li>
                        <span class="checkbox-option "></span>
                        <span class="checkbox-option "></span>
                        <a href="/new-100-laptop-gaming-hp-victus-15-fa0033dx-core-i5-12450h-8gb-512gb-rtx-3050-4gb-15.6quot-fhd-144hz.html">
                            <span>Core i5-12450H, 8GB, 512GB, RTX 3050 4GB, 15.6 FHD 144Hz</span>
                            <p>16.990.000đ</p>
                        </a>
                    </li>


                </ul>

            </div>

            <button type="submit" class="btn btn-danger" style="    
                    height: 50px;
                    width: 90%;
                    text-align: center;
                    margin-left: 11px;
                    font-size: 18px;">
                Thêm vào giỏ hàng
            </button>

    </div>
        <div class="contact">
            <div class="contact-item">
                <b style="color:red;">YÊN TÂM KHI MUA SẮM TẠI LAPTOP AZ</b><br />
                <ul>
                    <li><i class="bi bi-star-fill"></i> Chất lượng sản phẩm là hàng đầu</li>
                    <li><i class="bi bi-star-fill"></i> Dùng test máy 15 ngày đầu lỗi 1 đổi 1</li>
                    <li><i class="bi bi-star-fill"></i> Hỗ trợ và hậu mãi sau bán hành tốt nhất</li>
                    <li><i class="bi bi-star-fill"></i> Trả góp lãi suất 0% qua thẻ visa</li>
                    <li><i class="bi bi-star-fill"></i> Giao hàng miễn phí toàn quốc nhanh nhất</li>
                </ul>
            </div>
        

            <div class="contact-item">
                <ul>
                    <li><i class="bi bi-house"></i>  Số 18, ngõ 121, Thái Hà, Đống Đa, HN</li>
                    <li><i class="bi bi-house"></i> Số 56, Trần Phú, Hà Đông, HN</li>
                    <li><i class="bi bi-telephone-fill"></i>  0825.233.233</li>
                    <li><i class="bi bi-envelope-at-fill"></i> hotrolaptopaz@gmail.com</li>
                </ul>
            </div>
            <div class="contact-item" style="text-align: center; border: none;">
                <span>
                    Gọi <b>0825.233.233 </b><br />
                    để được tư vấn mua hàng (Miễn phí)
                </span>
            </div>
        </div>
    </div>
</div>


<div class="row"  style="margin-top: 20px;">
    <div class="col">
        <div class="bg-white">
            <div class="title-tab">
                <h3>Đặc điểm nổi bật</h3>
            </div>
            <div class="emtry-content nd" style="font-size: 14px;">
                <section>
                    <div class="tabbedBrowse-features-textWrapper left">
                        <p><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Laptop Lenovo ThinkBook&nbsp;16&nbsp;G7 có đáng để sở hữu?</span></strong></p>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Lenovo ThinkBook 16 G7 là chiếc laptop doanh nhân mạnh mẽ nhưng đầy phong cách. Bên cạnh bộ vi xử lý thế hệ mới nhất,&nbsp;ThinkBook 16&nbsp;G7 còn tích hợp những tính năng thông minh để tối ưu hóa cho khả năng làm việc từ xa vốn đang là xu hướng hiện nay.</span></p>
                        <p style="text-align: center;"><img src="/media/lib/3239_ThinkbookG75.png" alt="" width="603" height="395"></p>
                        <h3><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Tăng cường năng suất làm việc nhờ cấu hình tiên tiến</strong></span></h3>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Lenovo ThinkBook 16 G7 có sức mạnh vượt trội nhờ việc sử dụng bộ vi xử lý Intel&nbsp;Ultra 5 125H mới nhất hiện nay. Con chip&nbsp;Intel&nbsp;Ultra 5 125H hiệu năng cao&nbsp;không chỉ cho tốc độ nhanh với 14 lõi&nbsp;18 luồng, tốc độ xung nhịp tối đa lên tới 4.50GHz. Kết hợp thêm 16GB RAM DDR5 5600 MHz và ổ cứng&nbsp;SSD dung lượng cao 1TB, bạn sẽ có một thiết bị làm việc lý tưởng, tối ưu hiệu suất trong công việc.</span></p>
                        <p style="text-align: center;"><img src="/media/lib/3181_Thinkbook-14-G6-2024-Intel-Ultra-7-155H-h6.jpg" alt=""></p>
                        <h3><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Khả năng xử lý đồ họa xuất sắc</strong></span></h3>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Bộ vi xử lý&nbsp;Intel&nbsp;Ultra 5 125H tích hợp GPU đồ họa&nbsp;Intel Arc Graphics mạnh mẽ hàng đầu hiện nay. Nhờ sức mạnh đồ họa ấn tượng, Lenovo ThinkBook 16 G7 có thể chỉnh sửa ảnh, biên tập video hay chạy các ứng dụng đồ họa cơ bản, cho bạn làm được nhiều việc hơn trên chiếc laptop&nbsp;di động.</span></p>
                        <p style="text-align: center;"><img src="/media/lib/3239_ThinkbookG74.png" alt="" width="600" height="393"></p>
                        <h3><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Thiết kế sang trọng và chuyên nghiệp</strong></span></h3>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Lenovo ThinkBook 16 G7 mang đến cho bạn nhiều cảm hứng làm việc hơn nhờ một thiết kế sang trọng và chuyên nghiệp. Phần viền màn hình siêu mỏng, kích thước gọn nhẹ, di động và một thiết kế rất thời thượng tạo nên chiếc máy tính xách tay đẹp đẳng cấp. Không chỉ tạo phong cách riêng, sự mỏng nhẹ của Lenovo ThinkBook 16 G7 còn giúp bạn có thể dễ dàng mang laptop đi bất cứ đâu.</span></p>
                        <p style="text-align: center;"><img src="/media/lib/3239_ThinkbookG76.png" alt="" width="605" height="399"></p>
                        <h3><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Màn hình lớn sống động sắc nét</strong></span></h3>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Màn hình của Lenovo ThinkBook 16 G7 có kích thước lớn 16 inch, độ phân giải 2K+ sắc nét, cho hình ảnh sống động như thật với màu sắc, độ tương phản chính xác. Viền màn hình siêu mỏng giúp bạn hoàn toàn tập trung vào nội dung trước mắt. Hơn nữa, màn hình này còn có công nghệ lọc ánh sáng xanh bảo vệ mắt đã được chứng nhận bởi TUV Rheinland, giúp bạn làm việc thoải mái dù trong thời gian dài.</span></p>
                        <p style="text-align: center;"><img src="/media/lib/3239_ThinkbookG71.png" alt="" width="605" height="395"></p>
                        <h3><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Tối ưu cho khả năng làm việc từ xa</strong></span></h3>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Những cuộc họp video đang là điều không còn xa lạ hiện nay, khi bạn vẫn có thể tham gia họp mà không cần phải mất thời gian di chuyển đến phòng họp, đồng thời tạo kết nối từ xa trong công việc. Lenovo ThinkBook 16 G7&nbsp;hiểu điều đó và đã xây dựng hệ thống webcam HD sắc nét, âm thanh trung thực cùng micro chống ồn. Bạn sẽ có được chất lượng cuộc gọi tối ưu nhất để công việc hoàn toàn trôi chảy.</span></p>
                        <p style="text-align: center;"><img src="https://laptopaz.vn/media/lib/3239_ThinkbookG75.png" alt="" width="805" height="239"></p>
                        <table style="margin-left: auto; margin-right: auto; height: 177px;" width="703" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="Div_overview"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">1.&nbsp;SD card reader</span></div>
                                    </td>
                                    <td>
                                        <div class="Div_overview">
                                            <div class="Div_overview"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">6.&nbsp;USB-A (USB 5Gbps), Always On</span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="Div_overview"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">2.&nbsp;USB-A (USB 5Gbps)</span></div>
                                    </td>
                                    <td>
                                        <div class="Div_overview">
                                            <div class="Div_overview"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">7.&nbsp;HDMI®</span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="Div_overview"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">3.&nbsp;Ethernet (RJ-45)</span></div>
                                    </td>
                                    <td>
                                        <div class="Div_overview">
                                            <div class="Div_overview"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">8.&nbsp;Thunderbolt™ 4</span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="Div_overview"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">4.&nbsp;Kensington® Nano Security Slot™</span></div>
                                    </td>
                                    <td>
                                        <div class="Div_overview">
                                            <div class="Div_overview"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">9.&nbsp;Headphone / microphone combo jack (3.5mm)</span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="Div_overview"><span style="font-size: 12pt; font-family: arial, helvetica, sans-serif;">5.&nbsp;USB-C® (USB 10Gbps), with PD 3.0 &amp; DP 1.4</span></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h3><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Khả năng kết nối ấn tượng</strong></span></h3>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Lenovo ThinkBook 16 G7 đảm bảo khả năng kết nối linh hoạt và nhanh chóng nhất.&nbsp;Chuẩn WiFi 6&nbsp;cho tốc độ tải xuống nhanh hơn, băng thông rộng hơn và độ trễ thấp hơn. Nhờ những cổng kết nối tiên tiến hàng đầu, Lenovo ThinkBook 16 G7 có thể kết nối với bất kỳ thiết bị ngoại vi nào bạn muốn, phục vụ tối đa cho công việc.</span></p>
                        <p style="text-align: center;"><img src="/media/lib/3239_ThinkbookG73.png" alt="" width="607" height="398"></p>
                        <h3><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Bảo mật, an toàn và thông minh</strong></span></h3>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Lenovo ThinkBook 16 G7 đảm bảo cho dữ liệu và quyền riêng tư cá nhân của bạn luôn an toàn. Các tính năng phần cứng đều được bảo mật bởi nền tảng TPM, kiểm soát truy cập cổng kết nối, tính năng xóa an toàn, … Một màn trập trên webcam giúp bạn tránh khỏi nguy cơ bị truy cập hình ảnh trái phép khi không sử dụng. Ngoài ra laptop cũng tích hợp các tính năng thông minh&nbsp;về&nbsp;khởi động; chế độ bảo vệ mắt; làm mát thông minh. Bạn sẽ có được những trải nghiệm an toàn và thoải mái nhất trên Lenovo ThinkBook 16 G7.</span></p>
                        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/lib/3239_ThinkbookG72.png" alt="" width="603" height="442"></p>
                        <p><strong><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Bàn phím tuyệt vời</span></strong></p>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Bàn phím của&nbsp;Thinkbook 16&nbsp;G7 2024 Intel&nbsp;Ultra 5 125H<strong>&nbsp;</strong>với hành trình phím 1.5mm không chỉ mang lại cảm giác gõ phím chính xác mà còn tạo trải nghiệm thoải mái rất đặc biệt. Hành trình phím lớn cũng giúp giảm mệt mỏi trong quá trình sử dụng lâu dài, hòa mình vào không gian làm việc một cách dễ dàng và thoải mái hơn bao giờ hết.</span></p>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Touchpad của chiếc laptop này có kích thước lớn mang đến không gian rộng rãi cho những thao tác đa chạm và di chuyển linh hoạt trên màn hình. Mượt mà và chính xác, touchpad giúp người dùng dễ dàng thực hiện các thao tác như cuộn, phóng to, xoay.</span></p>
                        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="/media/lib/3239_ThinkbookG77.png" alt="" width="604" height="431"></p>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;">Bên cạnh đó Thinkbook 16&nbsp;G7 2024<strong>&nbsp;</strong>sở hữu&nbsp;pin vô cùng mạnh mẽ, với dung lượng lên tới 71Whr. Dung lượng pin lớn này hứa hẹn mang lại thời lượng sử dụng ấn tượng, giúp người dùng thoải mái sử dụng máy tính trong thời gian dài mà không cần lo lắng về việc sạc pin liên tục.</span></p>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Tổng kết:</strong> Laptop Lenovo ThinkBook&nbsp;16 G7 với hiệu năng mạnh mẽ cùng thiết kế thanh lịch, là sự lựa chọn phù hợp cho hầu hết tất cả mọi người, nhất là những ai có nhu cầu học tập - văn phòng. Hiện tại LaptopAZ đang có những chương trình ưu đãi vô cùng tuyệt vời khi khách hàng đặt mua&nbsp;Lenovo ThinkBook&nbsp;16 G7 ngay từ ngày hôm nay!</span></p>
                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Lưu ý:&nbsp;</strong><em>Bài viết và hình ảnh chỉ có tính chất tham khảo vì cấu hình và đặc tính sản phẩm có thể thay đổi theo thị trường và từng phiên bản. Quý khách cần cấu hình + hình ảnh cụ thể vui lòng liên hệ với các tư vấn viên để được trợ giúp.</em></span></p>
                    </div>
                </section>
                <div id="eJOY__extension_root" class="eJOY__extension_root_class" style="all: unset;">
                    <p><img src="/media/lib/2638_anhkh4anh.jpg" alt=""></p>
                    <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Địa chỉ mua bán Laptop uy tín tại Hà Nội và trên toàn quốc - LaptopAZ.vn<br>Cơ sở 1: Số 18 Ngõ 121 - Thái Hà - Đống Đa - Hà Nội</strong></span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Cơ sở 2: Số 56 Trần Phú - Hà Đông - Hà Nội</strong></span><br><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><strong>Liên hệ ngay: Hotline 0825.233.233</strong></span></p>
                    <p style="text-align: center;"><span style="font-family: arial, helvetica, sans-serif; font-size: 12pt;"><a href="https://laptopaz.vn/mua-hang-tu-xa.html">Chuyển hàng đi toàn quốc nhận máy đúng như mô tả mới phải thanh toán xem chi tiết tại đây</a></span></p>
                </div>
                <div style="width: 100%;display: flex;justify-content: center;"><a href="https://www.facebook.com/messages/t/110101228608585" target="_blank" style="width: 180px;text-align: center;padding: 10px;text-transform: uppercase;background: #2b80dd;color: #fff;font-family: 'Roboto';font-weight: 700;border-radius: 10px;">Liên hệ ngay với <br>nhân viên tư vấn</a></div>
            </div>
            <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop" data-width="100%" data-href="https://laptopaz.vn/new-100-lenovo-thinkbook-16-g7-2024-intel-ultra-5-125h-16gb-1tb-intel-arc-graphics-16.0quot-2k-ips-120hz.html" data-numposts="5" style="font-size: 14px; font-family: &quot;Times New Roman&quot;; width: 100%;" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=855&amp;height=100&amp;href=https%3A%2F%2Flaptopaz.vn%2Fnew-100-lenovo-thinkbook-16-g7-2024-intel-ultra-5-125h-16gb-1tb-intel-arc-graphics-16.0quot-2k-ips-120hz.html&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v5.0&amp;width="><span style="vertical-align: bottom; width: 100%; height: 199px;"><iframe name="f8cd684fd08b88783" width="1000px" height="100px" data-testid="fb:comments Facebook Social Plugin" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v5.0/plugins/comments.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3536b1f51c18a480%26domain%3Dlaptopaz.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Flaptopaz.vn%252Ff3a0cbc7168fff28b%26relation%3Dparent.parent&amp;container_width=855&amp;height=100&amp;href=https%3A%2F%2Flaptopaz.vn%2Fnew-100-lenovo-thinkbook-16-g7-2024-intel-ultra-5-125h-16gb-1tb-intel-arc-graphics-16.0quot-2k-ips-120hz.html&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v5.0&amp;width=" style="border: none; visibility: visible; width: 100%; height: 199px;" class=""></iframe></span></div>
        </div>
    </div>
    <div class="col column-3 pl-0" id="sec3">
        <div class="bg-white parameter">
            <div class="title-tab">
                <h3>Thông số kỹ thuật</h3>
            </div>
            <div class="pro-parameter">
                <div class="prodetail-spec-full" style="font-size: 11px;font-family: Times New Roman;">

                    <p style="    margin-top: 5px;"><strong>Thông số kỹ thuật Lenovo ThinkBook&nbsp;16 G7 2024</strong></p>
                    <div id="eJOY__extension_root" class="eJOY__extension_root_class" style="all: unset;">
                        <table class="table table-striped table-bordered" style="height: 258px; float: left;" width="272">
                            <tbody>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>CPU</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">Intel Ultra 5 125H (3.6 GHz up to 4.5 Hz, 14 Cores, 18 Threads, 18MB Cache)</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>RAM</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">16GB DDR5 5600MHz</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Ổ cứng</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">1TB SSD PCIe 4.0</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Card VGA</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">Intel Arc Graphics</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Màn hình</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">16" (2560x1600) IPS, 350nits, 100% sRGB, 120Hz, TCON</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Camera</strong></span></td>
                                    <td scope="row">
                                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">1080p IR</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Kết nối</strong></span></td>
                                    <td scope="row">
                                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">1x USB type C<br>1x HDMI 2.1<br>1x Thunderbolt<br>1x Headphone / mic combo 3.5<br>2x USB type A<br>1x TGX<br>1x Đầu đọc thẻ SD, 1x RJ45</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Trọng lượng</strong></span></td>
                                    <td scope="row"><span style="font-size: 8pt; font-family: arial, helvetica, sans-serif;">1.7 kg</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Pin</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">4cell 71Wh</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Hệ điều hành</strong></span></td>
                                    <td scope="row"><span style="font-size: 8pt; font-family: arial, helvetica, sans-serif;">Windows 11 bản quyền</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="text-align: left;"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    </div>

                    <a href="javascript:;" data-fancybox="" data-src="#box_product-spec" class="view-full mt-2">Xem cấu hình chi tiết</a>
                </div>
                <div id="box_product-spec" style="display: none">
                    <div class="title-tab">
                        <h3>Thông số kỹ thuật</h3>
                    </div>

                    <p><strong>Thông số kỹ thuật Lenovo ThinkBook&nbsp;16 G7 2024</strong></p>
                    <div id="eJOY__extension_root" class="eJOY__extension_root_class" style="all: unset;">
                        <table class="table table-striped table-bordered" style="height: 258px; float: left;" width="272">
                            <tbody>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>CPU</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">Intel Ultra 5 125H (3.6 GHz up to 4.5 Hz, 14 Cores, 18 Threads, 18MB Cache)</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>RAM</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">16GB DDR5 5600MHz</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Ổ cứng</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">1TB SSD PCIe 4.0</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Card VGA</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">Intel Arc Graphics</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Màn hình</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">16" (2560x1600) IPS, 350nits, 100% sRGB, 120Hz, TCON</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Camera</strong></span></td>
                                    <td scope="row">
                                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">1080p IR</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Kết nối</strong></span></td>
                                    <td scope="row">
                                        <p><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">1x USB type C<br>1x HDMI 2.1<br>1x Thunderbolt<br>1x Headphone / mic combo 3.5<br>2x USB type A<br>1x TGX<br>1x Đầu đọc thẻ SD, 1x RJ45</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Trọng lượng</strong></span></td>
                                    <td scope="row"><span style="font-size: 8pt; font-family: arial, helvetica, sans-serif;">1.7 kg</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Pin</strong></span></td>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">4cell 71Wh</span></td>
                                </tr>
                                <tr>
                                    <td scope="row"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;"><strong>Hệ điều hành</strong></span></td>
                                    <td scope="row"><span style="font-size: 8pt; font-family: arial, helvetica, sans-serif;">Windows 11 bản quyền</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="text-align: left;"><span style="font-family: arial, helvetica, sans-serif; font-size: 8pt;">&nbsp;</span></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="bg-white list-pro-same" style="margin-top: 20px;">
            <div class="title-tab">
                <h4>Sản phẩm tương đương</h4>
            </div>
            <ul>

               
            </ul>
        </div>

    </div>
</div>