@model Product

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Create Product";
}

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <h4 class="mb-3">Create New Product</h4>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Stock Quantity</label>
            <input asp-for="StockQuantity" class="form-control" />
            <span asp-validation-for="StockQuantity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">CategoryId</label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control">
                <option>---Choose a category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Brand</label>
            <select asp-for="BrandId" asp-items="ViewBag.Brands" class="form-control">
                <option>---Chọn nhãn hàng</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Image</label>
            <input asp-for="ImageUpLoad" class="form-control" />
            <span asp-validation-for="ImageUpLoad" class="text-danger"></span>
            <img id="imgpreview" class="pt-2" />
        </div>
        <div class="row">
            <div class="col-6 mt-3">
                <button type="submit" class="btn btn-primary" style="width: 200px">
                    <i class="bi bi-plus-circle-fill"></i> Create New Product
                </button>
            </div>
            <div class="col-6 mt-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary text-white">
                    <i class="bi bi-arrow-return-left"></i> Back to List Products
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#ImageUpLoad").change(
            function(){
                readURL(this);
            }
        )
    </script>
}