body {
    font-family: Roboto, sans-serif;

}
body a{
    text-decoration: none;
}

.product {
    display: grid;
    background-color: white !important;
}
.product-name {
    border-bottom: 1px solid #00ffff !important;
}

.info-img {
    width: 35%;
}

    .product .product-info {
        display: flex;
    }

        .product .product-info .info {
            height: auto;
            width: 40%;
            margin: 0 0 0 10px;
            padding: 20px 15px 15px 0;
        }

            .product .product-info .info-img img {
                height: auto;
                width: 100%;
            }

.product-link {
    margin-top: 20px;
}

.config {
    padding-bottom: 10px;

}

.list-config {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:2%;
}

    .list-config li {
        width: 190px; 
        height: 70px;
        margin-bottom: 10px;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border : 1px solid #00ffff;
        border-radius : 5px;
    }

.list-config li a{
    text-decoration: none;
    font-size: 13px;
    margin-top: 10px;
    color:black;
}

.contact{
    

}

    .contact .contact-item {
        border: 1px solid #aaa;
        border-radius: 5px;
    }
.contact {
    padding: 10px;
}

.contact-item {
    margin: 30px 0 -10px ;

}

    .contact-item ul {
        padding: 0;
        list-style: none;
    }

    .contact-item li {
        display: flex;
        align-items: center;
        margin: 5px 0;
    }

        .contact-item li i {
            margin-right: 10px;
            color: gold; 
            font-size: 13px;
        }




    .title-tab h3 {
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        padding: 10px 15px;
        display: inline-block;
        border-bottom: 2px solid #2b80dd;
        margin-bottom: -1px;
    }